.Titulo{
    margin-top: 20px;
    margin-right: 50px;
    float: right;
}

.titulo-text{
    font-size: 50px;
    color:white;
}

.container {
    display: flex;
    justify-content: space-between; /* Espacio entre los contenedores */
    padding: 20px; /* Espacio interior */
    margin-top: 100px;
}

.parrafos-izquierda {
    width: 950px;
    margin-left: -100px;
}

.custom-text {
    font-size: 40px;
    color: white;
}

.parrafo-1 {
    font-size: 25px;
    color: white;
    text-align: justify;
}

.parrafo-2 {
    margin-top: 30px;
    font-size: 25px;
    color: white;
    text-align: justify;
}

.parrafo-3 {
    margin-top: 30px;
    font-size: 25px;
    color: white;
    text-align: justify;
}

.parrafo-4 {
    color:white;
    font-size: 20px;
    position: right; /* Posición absoluta */
    text-align: right;
    margin-top: 70px;
}

.parrafos-right {
    width: 950px;
    float: right;
    margin-left: 100px;
    margin-right: -280px;
}